body {
  margin: auto;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css2?family=Farro&family=Poppins:wght@500&display=swap");

.max-width-1 {
  max-width: 80vw;
}

.max-width-2 {
  max-width: 60vw;
}

.m-auto {
  margin: auto;
}

.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}

.navigation {
  margin-top: 22px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  /* display: flex; */
  /* justify-content: space-between; */
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 4px 9px;
  color: black;
}

.nav-left {
  color: black !important;
  display: flex;
}

.btn {
  font-family: "Poppins", sans-serif;
  padding: 4px 9px;
  border-radius: 4px;
  border: 2px solid black;
  font-size: 14px;
  background-color: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin: 10px;
}

.btn:hover {
  background-color: black;
  color: white;
}
.opt a {
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  border: 2px solid black;
  font-size: 16px;
  background-color: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-bottom: 55px !important;
  margin-right: 10px;
}

.opt a:hover {
  background-color: black;
  color: white;
}
.nav-left span {
  font-family: "Farro", sans-serif;
  font-size: 32px;
  margin: 0 0 0 8px;
}

.nav-left span a {
  text-decoration: none;
  color: black;
}

.form-input {
  font-family: "Poppins", sans-serif;
  padding: 4px 25px 4px 7px;
  font-size: 14px;
  border-radius: 4px;
  border: 2px solid black;
  margin: 30px 10px;
}

.video-opt a {
  font-family: "Poppins", sans-serif;
  padding: 4px 9px;
  border-radius: 4px;
  border: 2px solid black;
  font-size: 14px;
  background-color: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.video-box {
  margin: 10px;
}
